.bttonAdd {
    -fx-background-color: #007bff;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 8px 16px;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-border-color: #007bff;
    -fx-border-width: 2px;
}

.bttonAdd:hover {
    -fx-background-color: #0056b3;
    -fx-border-color: #0056b3;
}

.button
{
    -fx-background-color: #FFF;

}
.button:hover{
    -fx-background-color: #COD5F7;
}
.button :pressed{
    -fx-background-color: #73A3EF;
}